In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
EMA_definistion = pd.read_json('EMA_definition.json')
EMA_definistion

,name,questions
0,Social,"[{'options': '[1]0-4 persons, [2]5-9 persons, ..."
1,Class,"[{'options': '', 'question_id': 'course_id', '..."
2,Comment,"[{'options': '', 'question_id': 'comment', 'qu..."
3,Stress,"[{'options': '[1]A little stressed, [2]Definit..."
4,Sleep,"[{'options': '[1]<3, [2]3.5, [3]4, [4]4.5, [5]..."
5,Activity,"[{'options': '[1]0-10%, [2]11-25%, [3]26-50%, ..."
6,Behavior,[{'options': '(Not at all) 1 2 3 4 5 (Extremel...
7,Exercise,"[{'options': '(Yes) 1 2 (No)', 'question_id': ..."
8,Study Spaces,"[{'options': '', 'question_id': 'place', 'ques..."
9,Do Campbell's jokes suck?,"[{'options': '[1]Great, [2]OK, [3]Terrible, ',..."
10,Events,"[{'options': '[1]1, [2]2, [3]3, [4]4, [5]5, [6..."
11,Boston Bombing,"[{'options': '[1]sadness, [2]anger, [3]fear, [..."
12,Dimensions,"[{'options': '', 'question_id': 'describe', 'q..."
13,Dartmouth now,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
14,Dining Halls,"[{'options': '[1]Collis, [2]Hop, [3]Foco, [4]K..."
15,Lab,"[{'options': '[1]Strongly agree, [2]agree, [3]..."
16,Mood,"[{'options': '(Yes) 1 2 (No)', 'question_id': ..."
17,Mood 2,"[{'options': '[1]happy, [2]stressed, [3]tired,..."
18,Cancelled Classes,"[{'options': '', 'question_id': 'words', 'ques..."
19,Dimensions protestors,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
20,Mood 1,"[{'options': '[1]happy, [2]stressed, [3]tired,..."
21,Class 2,"[{'options': '[1]Agree Strongly, [2]Agree Mode..."
22,Administration's response,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
23,Green Key 2,"[{'options': '[1]Seeing old friends, [2]Partie..."
24,Green Key 1,"[{'options': '', 'question_id': 'meaning', 'qu..."

In [3]:
EMA_definistion[EMA_definistion.name == 'Exercise'].questions.values

array([list([{'options': '(Yes) 1 2 (No)', 'question_id': 'have', 'question_text': "Did you do vigorous exercise today (don't include walking) such as run, swim, cycle, play a sport"}, {'options': '(Yes) 1 2 (No)', 'question_id': 'schedule', 'question_text': "If no did you want to but couldn't because of your schedule?"}, {'options': '[1]None, [2]<30 mins, [3]30-60 mins, [4]60-90 mins, [5]>90mins, ', 'question_id': 'exercise', 'question_text': 'If you exercised how long did you exercise for?'}, {'options': '', 'question_id': 'location', 'question_text': ''}, {'options': '[1]None, [2]<30 mins, [3]30-60 mins, [4]60-90 mins, [5]>90mins, ', 'question_id': 'walk', 'question_text': 'How long did you walk for today?'}])],
      dtype=object)

In [39]:
#### debugging
# for filename in os.listdir('Data/Stress'):
#     file_path = os.path.join('Data/Stress', filename)
#     print(file_path)

In [25]:
def get_user_index(folder_path):
    file_paths = []
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        file_paths.append(file_path)
        
    users = []
    for path in file_paths:
#         user_id = path.split('.')[0][-2:]
        user_id = path.split('.')[0][-3:]
        users.append(user_id)
        
    return users

In [26]:
def get_feature_df(users,feature_data, col_name):
    data = {}
    data['user_id'] = users

    data[col_name] = feature_data
    
    df = pd.DataFrame(data).sort_values('user_id')
    return df

In [36]:
# read in user "stress" data one by one
import os

stress_level_lst = []
for filename in os.listdir('Data/Stress'):
    with open(os.path.join('Data/Stress',filename)) as f:
        content = f.read()
        df = pd.read_json(content)
        if 'level' in df.columns:
            mean_stress_level = np.mean(df.level)
            stress_level_lst.append(mean_stress_level)
        else:
            mean_stress_level = np.nan
            stress_level_lst.append(mean_stress_level)
        
        
len(stress_level_lst)

IsADirectoryError: [Errno 21] Is a directory: 'Data/Stress/.ipynb_checkpoints'

In [30]:
stress_users = get_user_index('Data/Stress')
stress_df = get_feature_df(stress_users,stress_level_lst,'stress')
stress_df.head()

ValueError: arrays must all be same length

In [241]:
# Sleep 
sleep_hour_lst = []
for filename in os.listdir('Data/Sleep'):
    with open(os.path.join('Data/Sleep', filename)) as f:
        content = f.read()
        df = pd.read_json(content)
        if 'hour' in df.columns:
            avg_sleep_hour = np.mean(df.hour)
            sleep_hour_lst.append(avg_sleep_hour)
        else:
            avg_sleep_hour = np.nan
            sleep_hour_lst.append(avg_sleep_hour)

len(sleep_hour_lst)  # 49

49

In [263]:
sleep_users = get_user_index('Data/Sleep')
sleep_df = get_feature_df(sleep_users,sleep_hour_lst,'sleep')
sleep_df.head()

   user_id     sleep
6       00  7.109091
0       01  7.222222
42      02  7.923077
40      03  8.071429
29      04  6.470588

In [243]:
# exercise

exercise_freq_lst = []
for filename in os.listdir('Data/Exercise'):
    with open(os.path.join('Data/Exercise', filename)) as f:
        content = f.read()
        df = pd.read_json(content)
        if 'exercise' in df.columns:
            avg_exercise_score = np.mean(df.exercise)
            exercise_freq_lst.append(avg_exercise_score)
        else:
            avg_exercise_score = np.nan
            exercise_freq_lst.append(avg_exercise_score)

len(exercise_freq_lst)  # 49

49

In [265]:
exercise_users = get_user_index('Data/Exercise')
exercise_df = get_feature_df(exercise_users,exercise_freq_lst,'exercise')
exercise_df.head()

   user_id  exercise
0       00  2.000000
8       01  1.000000
35      02  2.000000
45      03  1.875000
25      04  4.083333

In [245]:
# social

social_number_lst = []
for filename in os.listdir('Data/Social'):
    with open(os.path.join('Data/Social', filename)) as f:
        content = f.read()
        df = pd.read_json(content)
        if 'number' in df.columns:
            avg_social_number = np.mean(df.number)
            social_number_lst.append(avg_social_number)
        else:
            avg_social_number = np.nan
            social_number_lst.append(avg_social_number)

len(social_number_lst)  # 49

49

In [267]:
social_users = get_user_index('Data/Social')
social_df = get_feature_df(social_users,social_number_lst,'social')
social_df.head()

   user_id    social
14      00  2.954545
11      01  3.500000
33      02  2.800000
19      03  1.550000
44      04  3.074074

In [247]:
# activity

def get_activity_data(field):
    value_lst = []
    
    for filename in os.listdir('Data/Activity'):
        with open(os.path.join('Data/Activity', filename)) as f:
            content = f.read()
            df = pd.read_json(content)
            df = df.replace('null', np.NaN) # data cleaing

            if field in df.columns:
                avg_value = np.mean(df[field])
                value_lst.append(avg_value)
                
            else:
                avg_value = np.nan
                value_lst.append(avg_value)
    
    return value_lst

activities = {}
working_alone = get_activity_data('working')
working_others = get_activity_data('other_working')
relaxing_alone = get_activity_data('relaxing')
relaxing_others = get_activity_data('other_relaxing')

In [269]:
#### get activity_user
activity_users = get_user_index('Data/Activity')

#### get activity_df
# activity_df = get_feature_df(activity_users,social_number_lst,'social') 

data = {}
data['user_id'] = activity_users
data['activity__working_alone'] = working_alone
data['activity__working_others'] = working_others
data['activity__relaxing_alone'] = relaxing_alone
data['activity__relaxing_others'] = relaxing_others

activity_df = pd.DataFrame(data).sort_values('user_id')
activity_df.head()

,user_id,activity__working_alone,activity__working_others,activity__relaxing_alone,activity__relaxing_others
7,00,2.052632,2.684211,1.578947,1.473684
1,01,1.666667,2.000000,2.333333,3.333333
46,02,2.250000,2.375000,1.000000,2.000000
36,03,2.545455,1.090909,1.909091,1.727273
26,04,1.923077,1.846154,2.846154,2.461538

In [249]:
# behavior
def get_behavior_data(field):
    value_lst = []
    for filename in os.listdir('Data/Behavior'):
        with open(os.path.join('Data/Behavior', filename)) as f:
            content = f.read()
            df = pd.read_json(content)
            df = df.replace('null', np.NaN)
            
            if field in df.columns:
                avg_value = np.mean(df[field].astype('float64'))
                value_lst.append(avg_value)
                
            else:
                avg_value = np.nan
                value_lst.append(avg_value)
                
    return value_lst

In [271]:
#### get behavior_user
behavior_users = get_user_index('Data/Behavior')

#### get activity_df
data = {}
data['user_id'] = activity_users
data['behavior__anxious'] = get_behavior_data('anxious')
data['behavior__calm'] = get_behavior_data('calm')
data['behavior__conventional'] = get_behavior_data('conventional')
data['behavior__critical'] = get_behavior_data('critical')
data['behavior__dependable'] = get_behavior_data('dependable')
data['behavior__disorganized'] = get_behavior_data('disorganized')
data['behavior__enthusiastic'] = get_behavior_data('enthusiastic')
data['behavior__experiences'] = get_behavior_data('experiences')
data['behavior__reserved'] = get_behavior_data('reserved')
data['behavior__sympathetic'] = get_behavior_data('sympathetic')

behavior_df = pd.DataFrame(data).sort_values('user_id')
behavior_df.head()

,user_id,behavior__anxious,behavior__calm,behavior__conventional,behavior__critical,behavior__dependable,behavior__disorganized,behavior__enthusiastic,behavior__experiences,behavior__reserved,behavior__sympathetic
7,00,2.000000,3.714286,2.714286,1.142857,3.714286,1.428571,2.714286,2.142857,3.285714,3.142857
1,01,1.666667,4.000000,4.000000,1.000000,3.333333,1.666667,3.000000,2.666667,3.000000,1.666667
46,02,2.000000,3.000000,2.000000,3.600000,3.400000,2.200000,3.200000,2.400000,3.400000,1.800000
36,03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,04,2.086957,3.956522,2.760870,2.369565,3.826087,2.195652,2.847826,2.739130,3.934783,3.717391

In [251]:
# mood

def get_mood_data(field):
    value_lst = []
    for filename in os.listdir('Data/Mood'):
        with open(os.path.join('Data/Mood', filename)) as f:
            content = f.read()
            df = pd.read_json(content)
            df = df.replace('null', np.NaN)
            
            if field in df.columns:
                avg_value = np.mean(df[field].astype('float64'))
                value_lst.append(avg_value)
                
            else:
                avg_value = np.nan
                value_lst.append(avg_value)
                
    return value_lst

In [273]:
# get mood users
mood_users = get_user_index('Data/Mood')

# build mood_df
data = {}
data['user_id'] = mood_users
data['mood__happy'] = get_mood_data('happy')
data['mood__sad'] = get_mood_data('sad')

mood_df = pd.DataFrame(data).sort_values('user_id')
mood_df.head()

   user_id  mood__happy  mood__sad
7       00         1.50       1.50
1       01         2.00       1.00
46      02         1.00       1.00
35      03         1.00       1.00
26      04         1.75       1.75

In [274]:
# 尝试将dataframe合起来
df_list = [stress_df, sleep_df, exercise_df, social_df, activity_df, behavior_df, mood_df]

df = df_list[0]
for df_ in df_list[1:]:
    df = df.merge(df_, on='user_id')

df.head()

,user_id,stress,sleep,exercise,social,activity__working_alone,activity__working_others,activity__relaxing_alone,activity__relaxing_others,behavior__anxious,...,behavior__conventional,behavior__critical,behavior__dependable,behavior__disorganized,behavior__enthusiastic,behavior__experiences,behavior__reserved,behavior__sympathetic,mood__happy,mood__sad
0,00,2.297297,7.109091,2.000000,2.954545,2.052632,2.684211,1.578947,1.473684,2.000000,...,2.714286,1.142857,3.714286,1.428571,2.714286,2.142857,3.285714,3.142857,1.50,1.50
1,01,2.250000,7.222222,1.000000,3.500000,1.666667,2.000000,2.333333,3.333333,1.666667,...,4.000000,1.000000,3.333333,1.666667,3.000000,2.666667,3.000000,1.666667,2.00,1.00
2,02,2.066667,7.923077,2.000000,2.800000,2.250000,2.375000,1.000000,2.000000,2.000000,...,2.000000,3.600000,3.400000,2.200000,3.200000,2.400000,3.400000,1.800000,1.00,1.00
3,03,2.931034,8.071429,1.875000,1.550000,2.545455,1.090909,1.909091,1.727273,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,1.00
4,04,1.860465,6.470588,4.083333,3.074074,1.923077,1.846154,2.846154,2.461538,2.086957,...,2.760870,2.369565,3.826087,2.195652,2.847826,2.739130,3.934783,3.717391,1.75,1.75

In [277]:
print(df.user_id.tolist())

['00', '01', '02', '03', '04', '05', '07', '08', '09', '10', '12', '13', '14', '15', '16', '17', '18', '19', '20', '22', '23', '24', '25', '27', '30', '31', '32', '33', '34', '35', '36', '39', '41', '42', '43', '44', '45', '46', '47', '49', '50', '51', '52', '53', '54', '56', '57', '58', '59']

In [ ]:
# export to csv file
df.to_csv('EMA_data.csv',encoding='UTF-8', index = False)